p {
    text-align: justify;
    display: flex;

}
img{
    margin: 15px;
}
.AlinharAoCentro {
    display: flex;
    justify-content: center;
}

.img-bart2{
    float: right;
    width: 25%;
    height: 25%;
}

.img-bart{
    float:left;
    width: 25%;
    height: 25%;
}